@import '~styles/variables';

.root {
  color: $color-white;
  padding: 20px 0 0 20px;

  h3 {
    font-size: 20px;
    margin-bottom: 20px;
  }

  ul {
    padding-left: 18px;
    list-style-type: disc;

    li {
      margin-bottom: 0.7em;
    }
  }

  a {
    color: $color-white;
  }
}
